In [1658]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas) (2022.5)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 22.0.4; however, version 22.3 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.8/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [1659]:
pd.set_option('display.max_rows', 20)

In [1660]:
import pandas as pd

df_artistas = pd.read_csv("Artistas.csv")

df_artistas['Nombre artistico'].value_counts()

df_artistas_limpio = df_artistas.drop_duplicates()

df_artistas_limpio['Nombre artistico'].value_counts()

df_artistas_limpio = df_artistas_limpio.rename(columns={"Nº contacto": "Numero_contacto", "Nombre artistico":"nombre_artistico","Inicio carrera":"inicio_carrera"})

df_artistas_limpio = df_artistas_limpio.reset_index()
df_artistas_limpio = df_artistas_limpio.rename_axis('id_artista')
df_artistas_limpio = df_artistas_limpio.drop(columns=['index'])
df_artistas_limpio

                nombre_artistico inicio_carrera  Numero_contacto
id_artista
0                           Duki     14/02/2019        947967523
1                Backstreet Boys     23/01/1994        933555053
2                Michael Jackson     04/02/1980        973673018
3                    Mon Laferte     18/07/2008        982606150
4                           Khea     16/06/2013        927484546
...                          ...            ...              ...
195         La Oreja de Van Gogh     08/03/2001        966357123
196                     Bizarrap     11/12/2017        957841287
197                  Nicki Minaj     02/07/2010        975557868
198                       Camila     26/06/2009        965638977
199                Mercedes Sosa     29/05/1982        963954428

[200 rows x 3 columns]

In [1661]:
df_artistas_limpio.to_csv('Artistas_limpio.csv', index = True)

In [1662]:
archivo = 'Productoras.csv'
df_productoras = pd.read_csv(archivo)
df_productoras.head()

                                       Nombre   País  Nº contacto
0                            Ais producciones  CHILE  56987054160
1               Cucarro producciones limitada  CHILE  56935039844
2  C&m musicos - musica y asesorias musicales  CHILE  56982842595
3          Eventos comunidad ombligo limitada  CHILE  56938037004
4                               Alto la torre  CHILE  56911128539

In [1663]:
df_productoras_limpio = df_productoras.rename(columns={"Nº contacto": "Numero_contacto", "País": "Pais"})
df_productoras_limpio.head()

                                       Nombre   Pais  Numero_contacto
0                            Ais producciones  CHILE      56987054160
1               Cucarro producciones limitada  CHILE      56935039844
2  C&m musicos - musica y asesorias musicales  CHILE      56982842595
3          Eventos comunidad ombligo limitada  CHILE      56938037004
4                               Alto la torre  CHILE      56911128539

In [1664]:
df_productoras_limpio.value_counts()
df_productoras_limpio = df_productoras_limpio.drop_duplicates()
df_productoras_limpio.value_counts()

Nombre                             Pais            Numero_contacto
903                                COLOMBIA        57950601431        1
MCA                                AUSTRALIA       6178001589         1
MEDIOS Y CONTENIDOS PRODUCCIONES   ARGENTINA       54977963788        1
MGC                                ALEMANIA        4985708353         1
                                   AUSTRALIA       6111002225         1
                                                                     ..
Event Production Company           ESTADOS UNIDOS  114142196          1
Eventlocations Munchen             ALEMANIA        4968413577         1
Eventos F.C                        COLOMBIA        57989921001        1
Eventos Toronto Shaddai            CANADA          1367905800         1
manatua.nz                         NUEVA ZELANDA   6436087029         1
Length: 246, dtype: int64

In [1665]:
df_productoras_limpio = df_productoras_limpio.reset_index()
df_productoras_limpio = df_productoras_limpio.rename_axis('id_productora')
df_productoras_limpio = df_productoras_limpio.drop(columns=['index'])
df_productoras_limpio.head()

,Nombre,Pais,Numero_contacto
id_productora,,,
0,Ais producciones,CHILE,56987054160
1,Cucarro producciones limitada,CHILE,56935039844
2,C&m musicos - musica y asesorias musicales,CHILE,56982842595
3,Eventos comunidad ombligo limitada,CHILE,56938037004
4,Alto la torre,CHILE,56911128539

In [1666]:
df_productoras_limpio.to_csv('Productoras_limpio.csv', index = True)

In [1667]:
archivo = 'Tour.csv'
df_tour = pd.read_csv(archivo)
df_tour.head()

               nombre fecha inicio fecha termino
0      One Night Only     26-09-17      08-10-21
1            CARAVANA     29-07-18      01-05-19
2             S.U.N.O     16-06-16      21-08-18
3  Lively And Supreme     30-08-18      09-11-20
4      Bigger than me     28-07-19      29-05-21

In [1668]:
df_tour.value_counts()
df_tour_limpio = df_tour.drop_duplicates()
df_tour_limpio.value_counts()

nombre                 fecha inicio  fecha termino
A7S Show               19-12-17      03-06-19         1
Anastasia              12-07-19      07-04-20         1
WAP                    03-06-16      23-12-18         1
Twelve Carat Tour      29-01-18      07-08-22         1
The After Hours        20-04-18      11-04-21         1
                                                     ..
DISCOTEKA              10-04-16      30/2/2021        1
CARAVANA               29-07-18      01-05-19         1
Born this way          05-08-17      09-12-20         1
Bigger than me         28-07-19      29-05-21         1
Young, Dumb and Broke  06-09-20      16-09-22         1
Length: 32, dtype: int64

In [1669]:
df_tour_limpio = df_tour_limpio.reset_index()
df_tour_limpio = df_tour_limpio.rename_axis('id_tour')
df_tour_limpio = df_tour_limpio.drop(columns=['index'])
df_tour_limpio = df_tour_limpio.rename(columns={"fecha inicio": "fecha_inicio", "fecha termino": "fecha_termino"})
df_tour_limpio.head()

                     nombre fecha_inicio fecha_termino
id_tour
0            One Night Only     26-09-17      08-10-21
1                  CARAVANA     29-07-18      01-05-19
2                   S.U.N.O     16-06-16      21-08-18
3        Lively And Supreme     30-08-18      09-11-20
4            Bigger than me     28-07-19      29-05-21

In [1670]:
df_tour_limpio.to_csv('Tour_limpio.csv', index = True)

In [1671]:
archivo = 'Eventos.csv'
df_eventos = pd.read_csv(archivo)
df_eventos.head()

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,Productora
0,BZRP Tour,Pabellon Max Schmeling,Paulo Londra,BERLIN,ALEMANIA,09-05-20,Nachhaltige Events
1,Como si no importara,Arena Ludwingsburg,Emilia,LUDWINGSBURG,ALEMANIA,23-01-21,fullevent.de
2,Born this way,Irving Plaza,Lady Gaga,NUEVA YORK,ESTADOS UNIDOS,12-09-20,CSI DMC
3,El Duko2.0,Thunder Bay,Duki,ONTARIO,CANADA,29-07-20,EventsEye
4,LOS APARATOS,Tarpeian Precinct Lawn,Trueno,SYDNEY,AUTRALIA,12-08-18,YouTOOProject

In [1672]:
df_eventos.value_counts()
df_eventos_limpio = df_eventos.drop_duplicates()
df_eventos_limpio.value_counts()

Evento               Recinto            Artista       Ciudad          Pais            Fecha de incio  Productora
1989                 Jeunesse Arena     Taylor Swift  RIO DE JANEIRO  BRASIL          13-07-18        Somosfk                     1
Phoenix Show         Espacio Unimed     Rita Ora      SAO PAULO       BRASIL          08-01-16        Somosfk                     1
One Vision of Queen  Teatro Gran Rex    Queen         BUENOS AIRES    ARGENTINA       24-07-20        FMG PRODUCCIONES            1
Papi Juancho         Cirque Royal       Maluma        BRUSELAS        BELGICA         16-07-21        Expat                       1
                     Estadio Rose Bowl  Maluma        LOS ANGELES     ESTADOS UNIDOS  17-07-22        Horwath Productions INC.    1
                                                                                                                                 ..
Fine Line            Estadio Rose Bowl  Harry Styles  LOS ANGELES     ESTADOS UNIDOS  11-08-22        Live Nation                 1
Five Day             Arena TSB Bank     Pearl Jam     WELLINGTON      NUEVA ZELANDA   08-07-21        Event Management NZ         1
Flicker              SALA SANTANA       Niall Horan   BILBAO          ESPAÑA          18-04-21        IndyRock                    1
Fourplan Event       Olympiahalle       Beele         MUNICH          ALEMANIA        16-08-16        Yataco                      1
Younger now          HISTORY            Miley Cyrus   TORONTO         CANADA          27-03-17        EventsEye                   1
Length: 233, dtype: int64

In [1673]:
df_eventos_limpio = df_eventos_limpio.reset_index()
df_eventos_limpio = df_eventos_limpio.rename_axis('id_evento')
df_eventos_limpio = df_eventos_limpio.drop(columns=['index'])
df_eventos_limpio.head()

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,Productora
id_evento,,,,,,,
0,BZRP Tour,Pabellon Max Schmeling,Paulo Londra,BERLIN,ALEMANIA,09-05-20,Nachhaltige Events
1,Como si no importara,Arena Ludwingsburg,Emilia,LUDWINGSBURG,ALEMANIA,23-01-21,fullevent.de
2,Born this way,Irving Plaza,Lady Gaga,NUEVA YORK,ESTADOS UNIDOS,12-09-20,CSI DMC
3,El Duko2.0,Thunder Bay,Duki,ONTARIO,CANADA,29-07-20,EventsEye
4,LOS APARATOS,Tarpeian Precinct Lawn,Trueno,SYDNEY,AUTRALIA,12-08-18,YouTOOProject

In [1674]:
df_eventos_limpio[df_eventos_limpio['Productora'] == 'Expat']

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,Productora
id_evento,,,,,,,
71,Papi Juancho,Cirque Royal,Maluma,BRUSELAS,BELGICA,16-07-21,Expat
181,RUNAWAY,Estadio ANZ,Bon Jovi,SYDNEY,AUTRALIA,07-09-21,Expat
186,MMM Bop,HISTORY,Hansen,TORONTO,CANADA,14-05-22,Expat

In [1675]:
df_eventos_limpio.head()

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,Productora
id_evento,,,,,,,
0,BZRP Tour,Pabellon Max Schmeling,Paulo Londra,BERLIN,ALEMANIA,09-05-20,Nachhaltige Events
1,Como si no importara,Arena Ludwingsburg,Emilia,LUDWINGSBURG,ALEMANIA,23-01-21,fullevent.de
2,Born this way,Irving Plaza,Lady Gaga,NUEVA YORK,ESTADOS UNIDOS,12-09-20,CSI DMC
3,El Duko2.0,Thunder Bay,Duki,ONTARIO,CANADA,29-07-20,EventsEye
4,LOS APARATOS,Tarpeian Precinct Lawn,Trueno,SYDNEY,AUTRALIA,12-08-18,YouTOOProject

In [1676]:
df_productoras_limpio

,Nombre,Pais,Numero_contacto
id_productora,,,
0,Ais producciones,CHILE,56987054160
1,Cucarro producciones limitada,CHILE,56935039844
2,C&m musicos - musica y asesorias musicales,CHILE,56982842595
3,Eventos comunidad ombligo limitada,CHILE,56938037004
4,Alto la torre,CHILE,56911128539
...,...,...,...
241,Event Production Company,ESTADOS UNIDOS,114142196
242,Eveerlast Productions INC.,ESTADOS UNIDOS,151359131
243,Event Management NZ,NUEVA ZELANDA,6445721253
244,Nikkita producciones spa,CHILE,56996308812
245,IndyRock,ESPAÑA,34911917911

In [1677]:
df_productoras_limpio[df_productoras_limpio['Nombre'] == 'Expat']

              Nombre       Pais  Numero_contacto
id_productora
5              Expat     CANADA       1376542840
182            Expat  AUSTRALIA       6143967797
183            Expat    BELGICA       3265898429

In [1678]:
def get_productora_id(nombre, pais):
    if pais == 'AUTRALIA':
        pais = "AUSTRALIA"
    return df_productoras_limpio.index[(df_productoras_limpio['Nombre'] == nombre) & (df_productoras_limpio['Pais'] == pais)].tolist()[0]
def add_productora_id(row):
    id_prod = get_productora_id(row["Productora"], row["Pais"])
    return id_prod

In [1679]:
productora_id('Expat', "AUSTRALIA")

182

In [1680]:
df_eventos_limpio[['Productora','Pais']]

                         Productora            Pais
id_evento
0                Nachhaltige Events        ALEMANIA
1                      fullevent.de        ALEMANIA
2                           CSI DMC  ESTADOS UNIDOS
3                         EventsEye          CANADA
4                     YouTOOProject        AUTRALIA
...                             ...             ...
228              Mayam Producciones          CANADA
229          Producciones Baltimore          ESPAÑA
230            Leading Event Agency   NUEVA ZELANDA
231        Event Production Company  ESTADOS UNIDOS
232          Producciones Baltimore          ESPAÑA

[233 rows x 2 columns]

In [1681]:
df_productoras_limpio[df_productoras_limpio['Nombre'] == 'YouTOOProject']
df_productoras_limpio.index[(df_productoras_limpio['Nombre'] == 'YouTOOProject') & (df_productoras_limpio['Pais'] == 'AUSTRALIA')].tolist()

[114]

In [1682]:
df_eventos_limpio['id_productora'] = df_eventos_limpio.apply(add_productora_id, axis=1)
df_eventos_limpio.head()

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/displayhook.py:275: UserWarning: Output cache limit (currently 1000 entries) hit.
Flushing oldest 200 entries.
  warn('Output cache limit (currently {sz} entries) hit.\n'

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,Productora,id_productora
id_evento,,,,,,,,
0,BZRP Tour,Pabellon Max Schmeling,Paulo Londra,BERLIN,ALEMANIA,09-05-20,Nachhaltige Events,227
1,Como si no importara,Arena Ludwingsburg,Emilia,LUDWINGSBURG,ALEMANIA,23-01-21,fullevent.de,10
2,Born this way,Irving Plaza,Lady Gaga,NUEVA YORK,ESTADOS UNIDOS,12-09-20,CSI DMC,92
3,El Duko2.0,Thunder Bay,Duki,ONTARIO,CANADA,29-07-20,EventsEye,80
4,LOS APARATOS,Tarpeian Precinct Lawn,Trueno,SYDNEY,AUTRALIA,12-08-18,YouTOOProject,114

In [1683]:
df_eventos_id = df_eventos_limpio.drop(columns=['Productora'])
df_eventos_id.head()

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,id_productora
id_evento,,,,,,,
0,BZRP Tour,Pabellon Max Schmeling,Paulo Londra,BERLIN,ALEMANIA,09-05-20,227
1,Como si no importara,Arena Ludwingsburg,Emilia,LUDWINGSBURG,ALEMANIA,23-01-21,10
2,Born this way,Irving Plaza,Lady Gaga,NUEVA YORK,ESTADOS UNIDOS,12-09-20,92
3,El Duko2.0,Thunder Bay,Duki,ONTARIO,CANADA,29-07-20,80
4,LOS APARATOS,Tarpeian Precinct Lawn,Trueno,SYDNEY,AUTRALIA,12-08-18,114

In [1684]:
df_eventos_limpio[df_eventos_limpio['Productora'] == 'Expat']

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,Productora,id_productora
id_evento,,,,,,,,
71,Papi Juancho,Cirque Royal,Maluma,BRUSELAS,BELGICA,16-07-21,Expat,183
181,RUNAWAY,Estadio ANZ,Bon Jovi,SYDNEY,AUTRALIA,07-09-21,Expat,182
186,MMM Bop,HISTORY,Hansen,TORONTO,CANADA,14-05-22,Expat,5

In [1685]:
#df_eventos_id.to_csv('Eventos_limpio.csv', index = True)

In [1686]:
df_eventos_id[df_eventos_id['Evento'] == 'BZRP Tour']

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,id_productora
id_evento,,,,,,,
0,BZRP Tour,Pabellon Max Schmeling,Paulo Londra,BERLIN,ALEMANIA,09-05-20,227
7,BZRP Tour,Pabellon Max Schmeling,Snow,BERLIN,ALEMANIA,09-05-20,227
53,BZRP Tour,Pabellon Max Schmeling,Bizarrap,BERLIN,ALEMANIA,09-05-20,227
78,BZRP Tour,Pabellon Max Schmeling,Cazzu,BERLIN,ALEMANIA,09-05-20,227
178,BZRP Tour,Pabellon Max Schmeling,Nicki Nicole,BERLIN,ALEMANIA,09-05-20,227

In [1687]:
df_eventos_id[df_eventos_id['Evento'] == 'Get Jacked']

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,id_productora
id_evento,,,,,,,
152,Get Jacked,Arena TSB Bank,Afrojack,WELLINGTON,NUEVA ZELANDA,16-01-17,243
232,Get Jacked,Carrer Baix Vinalopo,Afrojack,MISLATA,ESPAÑA,14-02-21,166

In [1688]:
df_artista_evento = df_eventos_id[["Evento", "Artista", "id_productora"]]
df_artista_evento.head()

                         Evento       Artista  id_productora
id_evento
0                     BZRP Tour  Paulo Londra            227
1          Como si no importara        Emilia             10
2                 Born this way     Lady Gaga             92
3                    El Duko2.0          Duki             80
4                  LOS APARATOS        Trueno            114

In [1689]:
df_artista_evento[df_artista_evento['Evento'] == 'BZRP Tour']

              Evento       Artista  id_productora
id_evento
0          BZRP Tour  Paulo Londra            227
7          BZRP Tour          Snow            227
53         BZRP Tour      Bizarrap            227
78         BZRP Tour         Cazzu            227
178        BZRP Tour  Nicki Nicole            227

In [1690]:
df_evento_sin_artista = df_eventos_id.drop(columns=['Artista'])
df_evento_sin_artista = df_evento_sin_artista.drop_duplicates()
df_evento_sin_artista.value_counts()
df_evento_sin_artista = df_evento_sin_artista.reset_index(drop = True)
df_evento_sin_artista = df_evento_sin_artista.rename_axis('id_evento')
df_evento_sin_artista.head()

,Evento,Recinto,Ciudad,Pais,Fecha de incio,id_productora
id_evento,,,,,,
0,BZRP Tour,Pabellon Max Schmeling,BERLIN,ALEMANIA,09-05-20,227
1,Como si no importara,Arena Ludwingsburg,LUDWINGSBURG,ALEMANIA,23-01-21,10
2,Born this way,Irving Plaza,NUEVA YORK,ESTADOS UNIDOS,12-09-20,92
3,El Duko2.0,Thunder Bay,ONTARIO,CANADA,29-07-20,80
4,LOS APARATOS,Tarpeian Precinct Lawn,SYDNEY,AUTRALIA,12-08-18,114

In [1691]:
df_evento_sin_artista[df_evento_sin_artista['Evento'] == 'Get Jacked']

,Evento,Recinto,Ciudad,Pais,Fecha de incio,id_productora
id_evento,,,,,,
135,Get Jacked,Arena TSB Bank,WELLINGTON,NUEVA ZELANDA,16-01-17,243
199,Get Jacked,Carrer Baix Vinalopo,MISLATA,ESPAÑA,14-02-21,166

In [1692]:
nombre = 'Get Jacked'
df_evento_sin_artista.index[df_evento_sin_artista['Evento'] == nombre].tolist()

[135, 199]

In [1693]:
df_evento_sin_artista = df_evento_sin_artista.rename(columns={"Fecha de incio": "fecha_inicio"})
df_evento_sin_artista.head()

,Evento,Recinto,Ciudad,Pais,fecha_inicio,id_productora
id_evento,,,,,,
0,BZRP Tour,Pabellon Max Schmeling,BERLIN,ALEMANIA,09-05-20,227
1,Como si no importara,Arena Ludwingsburg,LUDWINGSBURG,ALEMANIA,23-01-21,10
2,Born this way,Irving Plaza,NUEVA YORK,ESTADOS UNIDOS,12-09-20,92
3,El Duko2.0,Thunder Bay,ONTARIO,CANADA,29-07-20,80
4,LOS APARATOS,Tarpeian Precinct Lawn,SYDNEY,AUTRALIA,12-08-18,114

In [1694]:
df_evento_sin_artista.to_csv('Eventos_limpio.csv', index = True)

In [1695]:
df_artista_evento.head()

                         Evento       Artista  id_productora
id_evento
0                     BZRP Tour  Paulo Londra            227
1          Como si no importara        Emilia             10
2                 Born this way     Lady Gaga             92
3                    El Duko2.0          Duki             80
4                  LOS APARATOS        Trueno            114

In [1696]:
def get_evento_id(evento, id_prod):
    return df_evento_sin_artista.index[(df_evento_sin_artista['Evento'] == evento) & (df_evento_sin_artista['id_productora'] == id_prod)].tolist()[0]
def add_evento_id(row):
    id_evento = get_evento_id(row["Evento"], row["id_productora"])
    return id_evento
def artista_id(nombre):
    return df_artistas_limpio.index[df_artistas_limpio['nombre_artistico'] == nombre].tolist()[0]

In [1697]:
df_productoras_limpio.iloc[227]

Nombre             Nachhaltige Events
Pais                         ALEMANIA
Numero_contacto            4972642958
Name: 227, dtype: object

In [1698]:
df_artista_evento['id_evento'] = df_artista_evento.apply(add_evento_id, axis=1)
df_artista_evento.head()

/var/folders/nm/nwr1yg910cx64j1blxwmm4ww0000gn/T/ipykernel_76344/4247047880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_artista_evento['id_evento'] = df_artista_evento.apply(add_evento_id, axis=1)

                         Evento       Artista  id_productora  id_evento
id_evento
0                     BZRP Tour  Paulo Londra            227          0
1          Como si no importara        Emilia             10          1
2                 Born this way     Lady Gaga             92          2
3                    El Duko2.0          Duki             80          3
4                  LOS APARATOS        Trueno            114          4

In [1699]:
'''for nombre in df_artista_evento['Artista']:
    print(nombre)
    print(artista_id(nombre))'''

"for nombre in df_artista_evento['Artista']:\n    print(nombre)\n    print(artista_id(nombre))"

In [1700]:
df_artista_evento['id_artista'] = df_artista_evento['Artista'].apply(artista_id)

/var/folders/nm/nwr1yg910cx64j1blxwmm4ww0000gn/T/ipykernel_76344/217016551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_artista_evento['id_artista'] = df_artista_evento['Artista'].apply(artista_id)

In [1701]:
df_artista_evento[df_artista_evento["Artista"] == 'Imagine Dragons']

               Evento          Artista  id_productora  id_evento  id_artista
id_evento
22         The Misery  Imagine Dragons            240         21          58

In [1702]:
df_artista_evento = df_artista_evento.drop(columns=['Artista', 'Evento'])
df_artista_evento.head()

           id_productora  id_evento  id_artista
id_evento
0                    227          0          13
1                     10          1          36
2                     92          2          92
3                     80          3           0
4                    114          4          97

In [1703]:
df_artista_evento.to_csv('Artista_en_Evento.csv', index = False)

In [1704]:
df_evento_sin_artista

,Evento,Recinto,Ciudad,Pais,fecha_inicio,id_productora
id_evento,,,,,,
0,BZRP Tour,Pabellon Max Schmeling,BERLIN,ALEMANIA,09-05-20,227
1,Como si no importara,Arena Ludwingsburg,LUDWINGSBURG,ALEMANIA,23-01-21,10
2,Born this way,Irving Plaza,NUEVA YORK,ESTADOS UNIDOS,12-09-20,92
3,El Duko2.0,Thunder Bay,ONTARIO,CANADA,29-07-20,80
4,LOS APARATOS,Tarpeian Precinct Lawn,SYDNEY,AUTRALIA,12-08-18,114
...,...,...,...,...,...,...
195,El J23,Canadian Tire Centre,OTTAWA,CANADA,07-10-20,214
196,One Night Only,WIZink Center,MADRID,ESPAÑA,26-09-17,166
197,Voyage,Studio The Venue,AUCKLAND,NUEVA ZELANDA,29-05-20,160
198,Born this way,Shubert Theatre,BOSTON,ESTADOS UNIDOS,08-05-17,241
199,Get Jacked,Carrer Baix Vinalopo,MISLATA,ESPAÑA,14-02-21,166

In [1705]:
evento = "Get Jacked"
df_eventos_limpio[df_eventos_limpio['Evento'] == evento]

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,Productora,id_productora
id_evento,,,,,,,,
152,Get Jacked,Arena TSB Bank,Afrojack,WELLINGTON,NUEVA ZELANDA,16-01-17,Event Management NZ,243
232,Get Jacked,Carrer Baix Vinalopo,Afrojack,MISLATA,ESPAÑA,14-02-21,Producciones Baltimore,166

In [1706]:
df_artista_evento[df_artista_evento['id_evento'] == 135]

           id_productora  id_evento  id_artista
id_evento
152                  243        135          49

In [1707]:
df_evento_sin_artista.iloc[135]

Evento               Get Jacked
Recinto          Arena TSB Bank
Ciudad               WELLINGTON
Pais              NUEVA ZELANDA
fecha_inicio           16-01-17
id_productora               243
Name: 135, dtype: object

In [1708]:
df_eventos_limpio
df_eventos_limpio[df_eventos_limpio['Evento'] == 'The Misery']

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,Productora,id_productora
id_evento,,,,,,,,
22,The Misery,Spark Arena,Imagine Dragons,AUCKLAND,NUEVA ZELANDA,27-10-20,Queenstown Event Company,240

In [1709]:
df_artista_evento[df_artista_evento["id_evento"]==135]

           id_productora  id_evento  id_artista
id_evento
152                  243        135          49

Limpieza Entradas

In [1710]:
archivo = 'Entradas Cortesia.csv'
df_entradas = pd.read_csv(archivo)
df_entradas.head()

           evento asiento        artista
0         Bangerz     D15    Miley Cyrus
1  I Aint Worried     A17   One Republic
2     Show Forest     A12  One Direction
3       Bang Bang     C30       Jessie J
4        DJ Snake     D12       DJ Snake

In [1711]:
df_entradas.value_counts()
df_entradas_limpio = df_entradas.drop_duplicates()
df_entradas_limpio.value_counts()

evento                   asiento  artista
AgendaMusic              B24      Ozuna            1
Lali Esposito: The Show  B29      Lali Esposito    1
Que oso                  B28      Snow             1
QueenB                   D2       Beyonce          1
RUNAWAY                  C19      Bon Jovi         1
                                                  ..
Fine Line                D4       Harry Styles     1
Five Day                 C21      Pearl Jam        1
Fourplan Event           A17      Beele            1
                         B14      Tini Stoessel    1
Young, Dumb and Broke    B17      Khalid           1
Length: 145, dtype: int64

In [1712]:
df_entradas_limpio['id_artista'] = df_entradas_limpio['artista'].apply(artista_id)

df_entradas_limpio.head()

/var/folders/nm/nwr1yg910cx64j1blxwmm4ww0000gn/T/ipykernel_76344/1807917994.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_entradas_limpio['id_artista'] = df_entradas_limpio['artista'].apply(artista_id)

           evento asiento        artista  id_artista
0         Bangerz     D15    Miley Cyrus         156
1  I Aint Worried     A17   One Republic         172
2     Show Forest     A12  One Direction         144
3       Bang Bang     C30       Jessie J         125
4        DJ Snake     D12       DJ Snake          45

In [1713]:
df_entradas_limpio

                  evento asiento                artista  id_artista
0                Bangerz     D15            Miley Cyrus         156
1         I Aint Worried     A17           One Republic         172
2            Show Forest     A12          One Direction         144
3              Bang Bang     C30               Jessie J         125
4               DJ Snake     D12               DJ Snake          45
..                   ...     ...                    ...         ...
270  Say you wont let go     A30           James Arthur         107
273            Epic Show     A29  The Martinez Brothers         103
283              Que oso     B28                   Snow         168
293           Fruta y te      C0                   Gepe          27
300    Beyond Wonderland     D26             Marshmello          87

[145 rows x 4 columns]

In [1714]:
df_eventos_limpio[(df_eventos_limpio["Evento"]=="Bangerz") & (df_eventos_limpio["Artista"]=="Miley Cyrus")]

,Evento,Recinto,Artista,Ciudad,Pais,Fecha de incio,Productora,id_productora
id_evento,,,,,,,,
107,Bangerz,Don Haskins Center,Miley Cyrus,TEXAS,ESTADOS UNIDOS,08-12-18,Hartmann Studios,237

In [1733]:
def transformar_entradas(id_artista, evento):
    id_eventos = df_artista_evento[df_artista_evento["id_artista"]==id_artista]["id_evento"]
    for i in id_eventos:
        df_evento = df_evento_sin_artista.iloc[i]
        if df_evento["Evento"] == evento:
            return int(df_evento["id_productora"])
def get_id_productora_entrada(row):
    id_productora = transformar_entradas(row["id_artista"], row["evento"])
    if id_productora is None:
        return 60
    else:
        return int(id_productora)
transformar_entradas(172, "I Aint Worried")

94

In [1734]:
df_entradas_limpio["id_productora"] = df_entradas_limpio.apply(get_id_productora_entrada, axis=1)
df_entradas_limpio

KeyError: 'evento'

In [1735]:
df_evento_sin_artista[(df_evento_sin_artista["Evento"] == "Bangerz") & (df_evento_sin_artista["id_productora"] == 237)]

,Evento,Recinto,Ciudad,Pais,fecha_inicio,id_productora
id_evento,,,,,,
97,Bangerz,Don Haskins Center,TEXAS,ESTADOS UNIDOS,08-12-18,237

In [1736]:
def transformar_entradas2(evento, id_productora):
    if evento == "Fourplan Mania":
        return df_evento_sin_artista.index[(df_evento_sin_artista["Evento"] == "Fourplan Event") & (df_evento_sin_artista["id_productora"] == 60)].tolist()[0]
    else:
        return df_evento_sin_artista.index[(df_evento_sin_artista["Evento"] == evento) & (df_evento_sin_artista["id_productora"] == id_productora)].tolist()[0]
def get_id_evento_entrada(row):
    id_productora = transformar_entradas2(row["evento"], row["id_productora"])
    return id_productora

In [1737]:
df_evento_sin_artista.index[(df_evento_sin_artista["Evento"] == "Bangerz") & (df_evento_sin_artista["id_productora"] == 237)].tolist()[0]

97

In [1738]:
df_entradas_limpio["id_evento"] = df_entradas_limpio.apply(get_id_evento_entrada, axis=1)
df_entradas_limpio.head()

KeyError: 'evento'

In [1724]:
df_entradas_limpio = df_entradas_limpio.drop(columns=['artista', 'evento'])
df_entradas_limpio.head()

  asiento  id_artista  id_productora  id_evento
0     D15         156          237.0         97
1     A17         172           94.0         48
2     A12         144          237.0         20
3     C30         125          226.0        175
4     D12          45          146.0        108

In [1725]:
df_entradas_limpio.to_csv('Entradas Cortesia_limpio.csv', index = False)

In [1726]:
archivo = 'Hospedajes y traslados.csv'
df_hospedaje = pd.read_csv(archivo)
df_hospedaje.head()

,codigo reserva,artista,fecha inicio,fecha termino,lugar,nombre hotel,tipo traslado,aeropuerto salida,hora salida,aeropuerto llegada,hora llegada
0,DUE-45195,Paulo Londra,18/4/2019,23/4/2019,BILBAO,Hotel Ilunion,TERRESTRE,NaN,NaN,NaN,NaN
1,VJA-35509,Lali Esposito,16/4/2019,17/4/2019,AUCKLAND,Hilton Auckland,TERRESTRE,NaN,NaN,NaN,NaN
2,YOP-65177,Niall Horan,5/5/2020,9/5/2020,COLOGNE,StadHotel,AEREO,Aeropuerto Internacional de Bruselas,9:10,Aeropuerto Internacional de Cologne,12:47
3,NOA-92813,Bon Jovi,9/1/2018,12/1/2018,SANTIAGO,Almasur Hotel,AEREO,Aeropuerto Internacional de Miami,16:21,Aeropuerto Arturo Merino Benitez,12:16
4,OFF-75731,Bon Jovi,6/3/2022,10/3/2022,SYDNEY,Sydney Grand Hotel,AEREO,Aeropuerto Internacional de Ottawa,9:32,Aeropuerto de Sidney,18:12

In [1727]:
df_hospedaje.value_counts()
df_hospedaje_limpio = df_hospedaje.drop_duplicates()
df_hospedaje_limpio.value_counts()

codigo reserva  artista                fecha inicio  fecha termino  lugar         nombre hotel          tipo traslado  aeropuerto salida                      hora salida  aeropuerto llegada                     hora llegada
AJH-38849       Afrojack               26/4/2021     31/4/2021      TEXAS         Texas Gran Hotel      MIXTO          Aeropuerto de Bilbao                   23:43        Aeropuerto de Sidney                   2:23            1
UZW-50211       Pearl Jam              27/8/2019     27/8/2019      BRUSELAS      Ibis Hotel            MIXTO          Aeropuerto de Bilbao                   6:18         Aeropuerto de Bruselas                 16:13           1
USB-43215       The Martinez Brothers  5/1/2022      8/1/2022       SYDNEY        HUB Sydney            AEREO          Aeropuerto Internacional de Boston     7:45         Aeropuerto Internacional de Sidney     23:35           1
UHA-92022       Gustavo Cerati         2/9/2019      6/9/2019       SANTIAGO      HUB Providencia       AEREO          Aeropuerto de Newtown                  14:37        Aeropuerto Arturo Merino Benitez       3:39            1
TQR-16323       Princesa Alba          17/10/2018    19/10/2018     BARCELONA     Acta Voraport         AEREO          Aeropuerto de Pekín                    14:14        Aeropuerto Internacional de Barcelona  21:11           1
                                                                                                                                                                                                                                 ..
KDV-48608       Luar La L              6/5/2020      11/5/2020      BOSTON        Hampton Inn           AEREO          Aeropuerto Internacional de Berlin     18:45        Aeropuerto Internacional de Boston     4:33            1
JXI-58978       Diplo                  6/1/2018      10/1/2018      SANTIAGO      Novapark              AEREO          Aeropuerto Ezeiza                      23:19        Aeropuerto Arturo Merino Benitez       19:31           1
JTD-65081       Paramore               18/8/2020     22/8/2020      MIAMI         The Altair Bay Hotel  MIXTO          Aeropuerto Internacional de Berlin     12:42        Aeropuerto de Opa-Ioka                 12:10           1
JBA-36436       Bee Gees               9/7/2022      10/7/2022      BUENOS AIRES  Design Suites         MIXTO          Aeropuerto Internacional de Barcelona  0:31         Aeropuerto Ezeiza                      22:19           1
ZTO-67451       Kudai                  17/8/2019     19/8/2019      BARCELONA     Expo Hotel Barcelona  AEREO          Aeropuerto Arturo Merino Benitez       13:10        Aeropuerto Internacional de Barcelona  5:35            1
Length: 91, dtype: int64

In [1728]:
df_hospedaje_limpio.head()

,codigo reserva,artista,fecha inicio,fecha termino,lugar,nombre hotel,tipo traslado,aeropuerto salida,hora salida,aeropuerto llegada,hora llegada
0,DUE-45195,Paulo Londra,18/4/2019,23/4/2019,BILBAO,Hotel Ilunion,TERRESTRE,NaN,NaN,NaN,NaN
1,VJA-35509,Lali Esposito,16/4/2019,17/4/2019,AUCKLAND,Hilton Auckland,TERRESTRE,NaN,NaN,NaN,NaN
2,YOP-65177,Niall Horan,5/5/2020,9/5/2020,COLOGNE,StadHotel,AEREO,Aeropuerto Internacional de Bruselas,9:10,Aeropuerto Internacional de Cologne,12:47
3,NOA-92813,Bon Jovi,9/1/2018,12/1/2018,SANTIAGO,Almasur Hotel,AEREO,Aeropuerto Internacional de Miami,16:21,Aeropuerto Arturo Merino Benitez,12:16
4,OFF-75731,Bon Jovi,6/3/2022,10/3/2022,SYDNEY,Sydney Grand Hotel,AEREO,Aeropuerto Internacional de Ottawa,9:32,Aeropuerto de Sidney,18:12

In [1729]:
df_hospedaje_limpio["id_artista"] = df_hospedaje_limpio["artista"].apply(artista_id)

/var/folders/nm/nwr1yg910cx64j1blxwmm4ww0000gn/T/ipykernel_76344/3974633769.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hospedaje_limpio["id_artista"] = df_hospedaje_limpio["artista"].apply(artista_id)

In [1730]:
df_hospedaje_limpio = df_hospedaje_limpio.drop(columns = ["artista"])
df_hospedaje_limpio.head()

,codigo reserva,fecha inicio,fecha termino,lugar,nombre hotel,tipo traslado,aeropuerto salida,hora salida,aeropuerto llegada,hora llegada,id_artista
0,DUE-45195,18/4/2019,23/4/2019,BILBAO,Hotel Ilunion,TERRESTRE,NaN,NaN,NaN,NaN,13
1,VJA-35509,16/4/2019,17/4/2019,AUCKLAND,Hilton Auckland,TERRESTRE,NaN,NaN,NaN,NaN,175
2,YOP-65177,5/5/2020,9/5/2020,COLOGNE,StadHotel,AEREO,Aeropuerto Internacional de Bruselas,9:10,Aeropuerto Internacional de Cologne,12:47,81
3,NOA-92813,9/1/2018,12/1/2018,SANTIAGO,Almasur Hotel,AEREO,Aeropuerto Internacional de Miami,16:21,Aeropuerto Arturo Merino Benitez,12:16,114
4,OFF-75731,6/3/2022,10/3/2022,SYDNEY,Sydney Grand Hotel,AEREO,Aeropuerto Internacional de Ottawa,9:32,Aeropuerto de Sidney,18:12,114

In [1731]:
df_hospedaje_limpio = df_hospedaje_limpio.rename(columns={"codigo reserva": "codigo_reserva", "fecha inicio": "fecha_inicio", "fecha termino": "fecha_termino", "nombre hotel": "nombre_hotel", "tipo traslado": "tipo_traslado", "aeropuerto salida": "aeropuerto_salida", "hora salida": "hora_salida", "aeropuerto llegada": "aeropuerto_llegada", "hora llegada": "hora_llegada"})
df_hospedaje_limpio.head()

,codigo_reserva,fecha_inicio,fecha_termino,lugar,nombre_hotel,tipo_traslado,aeropuerto_salida,hora_salida,aeropuerto_llegada,hora_llegada,id_artista
0,DUE-45195,18/4/2019,23/4/2019,BILBAO,Hotel Ilunion,TERRESTRE,NaN,NaN,NaN,NaN,13
1,VJA-35509,16/4/2019,17/4/2019,AUCKLAND,Hilton Auckland,TERRESTRE,NaN,NaN,NaN,NaN,175
2,YOP-65177,5/5/2020,9/5/2020,COLOGNE,StadHotel,AEREO,Aeropuerto Internacional de Bruselas,9:10,Aeropuerto Internacional de Cologne,12:47,81
3,NOA-92813,9/1/2018,12/1/2018,SANTIAGO,Almasur Hotel,AEREO,Aeropuerto Internacional de Miami,16:21,Aeropuerto Arturo Merino Benitez,12:16,114
4,OFF-75731,6/3/2022,10/3/2022,SYDNEY,Sydney Grand Hotel,AEREO,Aeropuerto Internacional de Ottawa,9:32,Aeropuerto de Sidney,18:12,114

In [1732]:
df_hospedaje_limpio.to_csv('Hospedajes y traslados_limpio.csv', index = False)